!!!
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Great America
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    // build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="bower_components/league-gothic/webfonts/stylesheet.css")
    link(rel="stylesheet", href="bower_components/normalize-css/normalize.css")
    link(rel="stylesheet", href="styles/main.css")
    script.
      (function(w,d,s){
        w._s=function(a,t,e){
          t=d.getElementsByTagName(s)[0];
          e=d.createElement(s);
          e.src=a;
          t.parentNode.insertBefore(e,t);
          return e;
        };
      })(window,document,'script');

      (function(w,z,s) {
        s=w._s('scripts/locations.js');
        w.__jsonp = function a(r) {
          (z = w['setupFinder']) && !z ? setTimeout(function() { a(data) }) : (delete w.__jsonp, s.parentNode.removeChild(s), z(r));
        };
      })(window);

    // endbuild
    // build:js scripts/vendor/modernizr.js
    <script src="bower_components/modernizr/modernizr.js"></script>
    // endbuild
  body
    //[if lt IE 10]
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>

    .navbar
      i.navbar-icon.navbar-icon-logo(aria-label='Great America')
      a(href='#flavors').navbar-item Flavors
      a(href='#greatness').navbar-item Find Greatness
      a(href='https://www.twitter.com/drinkga', aria-label='Twitter').navbar-icon.navbar-icon-twitter
      a(href='https://www.instagram.com/drinkgreatamerica', aria-label='Instagram').navbar-icon.navbar-icon-instagram
      a(href='https://www.facebook.com/drinkgreatamerica', aria-label='Facebook').navbar-icon.navbar-icon-facebook

    section#banner
      p.slide-text
        span.slide-line-1 Here&rsquo;s to
        br
        span.slide-line-2-1 great
        span.slide-line-2-2 times
        span.slide-line-2-2 music
        span.slide-line-2-2 people
      img.slide-image(src='/images/banner-times.jpg')
      img.slide-image(src='/images/banner-music.jpg')
      img.slide-image(src='/images/banner-people.jpg')

    section#flavors
      .tabs
        a.tab-link.tab--is-inactive(href='#flavor-carolina-clear') Carolina Clear
        a.tab-link.tab--is-inactive(href='#flavor-apple-pie') Apple Pie
        .tab.tab-intro.tab--is-active
          .tab-contents
            h1 Brewed &amp; Bottled
            p Brewed and bottled in the foothils of the Blue Ridge Mountains here in North Carolina. Great America was born from tradition and raised by a new breed of greatness. This new beverage brings the taste of the past and combines in with a modern attitude to give it a flavor all it&rsquo;s own. What really sets us apart is that the greatness is available for all to enjoy. <a href='#greatness'>Find us</a> in a convenience store or market near you.
        .tab#flavor-carolina-clear
          img.product-image.product-carolina-clear(src='/images/carolina-clear.png', alt='Carolina Clear beverage')
          .tab-contents
            h2 Carolina Clear
            p With its smooth taste, Carolina Clear is as crisp as its original predecessors.
        .tab#flavor-apple-pie
          img.product-image.product-apple-pie(src='/images/apple-pie.png', alt='Apple Pie beverage')
          .tab-contents
            h2 Apple Pie
            p Nothing says true Americana like Apple Pie.

      .flavors-background

    section#greatness
      #map-canvas
      #map-locations

    section#responsibility
      span.eagle
      p Please remember to always <span>think and drink responsibly</span>

    footer#footer
      p.footer-text Copyright &copy; Great America. All rights reserved.
      p.footer-text: a(href='mailto:info@drinkgreatamerica.com') Contact Us
      a(href='https://www.twitter.com/greatamerica', aria-label='Twitter').navbar-icon.navbar-icon-twitter
      a(href='https://www.instagram.com/greatamerica', aria-label='Instagram').navbar-icon.navbar-icon-instagram
      a(href='https://www.facebook.com/greatamerica', aria-label='Facebook').navbar-icon.navbar-icon-facebook

    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-40554518-2');ga('send','pageview');

    // build:js(app) scripts/main.js
    script(src="bower_components/fastclick/lib/fastclick.js")
    script(src="scripts/polyfills.js")
    script(src="scripts/main.js")
    script(src="scripts/map.js")
    // endbuild
